[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
redis = "*"
pyarrow = "*"
pandas = "*"
ipykernel = "*"
flask = "*"
pymysql = "*"
joblib = "*"
sklearn = "*"

[requires]
python_version = "3.8"
